attrs==22.1.0
bokeh==3.0.2
Bottleneck==1.3.5
certifi==2022.9.24
cffi==1.15.1
click==8.0.2
cloudpickle==2.2.0
contourpy==1.0.6
cytoolz==0.12.0
dask==2021.10.0
dask-jobqueue==0.7.3
distributed==2021.10.0
flit_core==3.6.0
fsspec==2022.11.0
future==0.18.2
HeapDict==1.0.1
importlib-metadata==5.1.0
Jinja2==3.1.2
joblib==1.2.0
locket==1.0.0
MarkupSafe==2.1.1
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==9.0.0
msgpack==1.0.4
numexpr==2.8.4
numpy==1.23.4
packaging==21.3
pandas==1.5.2
partd==1.3.0
Pillow==9.3.0
psutil==5.9.4
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
scikit-learn==1.0.1
scipy==1.9.3
six==1.16.0
sortedcontainers==2.4.0
tblib==1.7.0
threadpoolctl==3.1.0
toolz==0.12.0
torch==1.13.1
tornado==6.2
typing_extensions==4.4.0
xyzservices==2022.9.0
zict==2.2.0
zipp==3.11.0
